/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  Initialization
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  End of Initialization
  ========================================
*/

/* === styling of the body === */
body {
    background-color: #fff;
}

/* === styling the header === */
.primary-header {
    border-bottom: 3px solid #666666;
}
.logo {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    margin-left: 150px;
    padding: 30px 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
a {
    text-decoration: none; 
}
a:hover {
    color: #a9b2b9;
}
.myname {
    color: #ffffff;   
}
.menuitem {
    color: #000000;
}
.primary-nav {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    color: #cccccc;
    text-align: right;
    padding: 43px 10px;
}
.primary-nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: center;
}
.primary-nav li:last-child {
    margin-right: 150px;
}

/* === styling pictures & Body === */
.my-bio {
    background-color: #fff;
    padding: 30px 150px 66px 150px;
}
.my-header {
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 100;
    color: #4aaaa5;    
    border-bottom: 3px solid #666666;
}
img {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5%;
    height: 130px;
    float: left;
}

.desc1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 15px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
}

/* === styling the contact page & submit button === */
form {
    margin-bottom: 20px;
}
input,
textarea {
  font: 300 16px/22px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.contactinfo label {
    color: #000;
    cursor: pointer;
    font-weight: 400;
}
.contactinfo input,
.contactinfo textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  width: 100%;
}
.contactinfo textarea {
    height: 75px;
}
.btn {
    background-color: #4aaaa5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
}

/* === portfolio page === */
.picframe1 {
    height: 150px;
    width: 20%;
    display:inline-block;
    position: relative;
}
.picframe2 {
    height: 150px;
    width: 60%;
    display:inline-block;
    position: relative;
}

.picframe1 label {
    position: absolute;
    background-color: #4aaaa5;
    color: #fff;
    padding: 5px 20px;
    width: 200px;
    top: 120px;
    left: 0;
}
.picframe2 label {
    position: absolute;
    background-color: #4aaaa5;
    color: #fff;
    padding: 5px 20px;
    width: 200px;
    top: 120px;
    left: 0;
}
/* === styling the footer === */
.primary-footer {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #cccccc;
    background-color: #666666;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}